body {
  background-image: url("https://i.imgur.com/waJ33kA.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

button {
  width: 15%;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

#main {
  background-color: rgba(207, 207, 209, 0.5);
  height: 90%;
  width: 90%;
  margin: 10 auto;
  overflow: visible;
}

#header {
  font-family: "Merriweather", serif;
  font-size: 60px;
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

#subtitle {
  font-size: 35px;
}

#quote-display {
  font-size: 40px;
}

#quote-display,
#button-div {
  padding-top: 30px;
  font-family: "Lora", serif;
  text-align: center;
}

#header,
#subtitle,
#quote-display {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em grey, 0 0 0.2em grey;
}

#twitter-share {
  display: none;
  margin: 0 auto;
  background-color: #00aced;
  color: #fff;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.6s ease-in 1 forwards;
}
