#bg-img {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("https://i.imgur.com/waJ33kA.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body {
  background-color: rgb(207, 207, 209);
}

.main {
  position: absolute;
  top: 0px;
  left: 0px;
}
.quote-block {
  margin-top: 150px;
  /* background-color: rgba(207, 207, 209, 0.8); */
  height: 200px;
}
#header {
  /* background-color: rgba(207, 207, 209, 0.9); */
  font-family: "Merriweather", serif;
  font-size: 40px;
}
.quote-block,
#header {
  border-radius: 5px;
}
#quote-display,
#button-div {
  padding-top: 30px;
  font-family: "Lora", serif;
  font-size: 18px;
}
#subtitle {
  font-size: 25px;
}
#header,
#subtitle,
#quote-display {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em grey, 0 0 0.2em grey;
}
#twitter-share {
  display: none;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}
